.screen-landing-page {
  overflow: hidden;
  height: calc(100vh - 80px);
  /* box-shadow: 1px 4px 4px rgba(132, 132, 132, 0.3); */
  position: relative;

  .images-wrapper {
    height: 110vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    gap: 4px;

    img {
      width: calc(100vw / 4 - 3px);
      filter: saturate(0) contrast(0.75) sepia(0.35) hue-rotate(-3deg) saturate(1);
      /* filter: saturate(0.4); */
      transition: all 3.5s ease-in;
      position: relative;

      &.highlighted {
        transition: all 0.5s ease-in;
        filter: none;
        /* transform: scale(1.5); */
      }
    }
  }

  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform-origin: center;

    &.black {
      background: #000;
      z-index: 10;
      animation: fade-to-transparent 1.5s ease-in-out 0s forwards;
    }

    &.colored {
      z-index: 2;
      background: radial-gradient(ellipse farthest-corner at left bottom, #fedb37 0, #fdb931 8%, #9f7928 30%, #8a6e2f 40%, #0000 80%),
        radial-gradient(ellipse farthest-corner at right top, #ffffac44 0, #ffffacbb 0, #ffbf0088 10%, #5d4a1fbb 60.5%, #5d4a1f88 100%);
      opacity: 0.6;
      /* filter: brightness(0.6); */
      /* animation: fade-to-transparent 3s ease-in-out 0s forwards; */
    }
  }

  .and-symbol {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-3deg);
    margin-left: 9px;
    font-size: 110px;
    position: absolute;

    background: linear-gradient(0, hsl(41, 100%, 75%), hsl(41, 100%, 45%), hsl(41, 100%, 75%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    z-index: 5;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.35));
    opacity: 0;

    animation: show 1s ease-in-out 2.7s forwards;
  }

  .title-and-subtitle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    margin-top: -16px;
  }

  .title {
    font-family: 'Parisienne', cursive;
    color: white;
    font-size: 80px;
    position: relative;

    .name-word {
      margin: -26px 0;
      position: relative;
      z-index: 1;
      text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.35);
      opacity: 0;

      &.iuliu {
        animation: show 1s ease-in-out 2s forwards;
      }

      &.gabriela {
        animation: show 1s ease-in-out 3s forwards;
      }

      &.on-top {
        position: absolute;
        z-index: 6;
        left: 0;
        right: 0;
        margin: auto;
        text-shadow: none !important;

        &.iuliu {
          clip-path: polygon(56% 0, 67% 0, 56% 66%, 50% 73%);
          /* background: red; */
        }
        &.gabriela {
          clip-path: polygon(51% 14%, 78% 16%, 76% 55%, 39% 53%);
        }
      }
    }
  }

  .subtitle {
    margin-top: 40px;
    color: white;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 6px;
    white-space: nowrap;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);

    .gold {
      color: #ffbf00;
      /* font-size: 14px; */
    }

    img {
      width: 24px;
      color: #ffbf00;
      margin-right: 4px;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-to-transparent {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
