.screen-landing-page {
  overflow: hidden;
  height: calc(100vh - 80px);
  box-shadow: 1px 4px 4px rgba(132, 132, 132, 0.3);
  position: relative;

  .images-wrapper {
    height: 110vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    gap: 4px;

    img {
      width: calc(100vw / 4 - 3px);

      filter: contrast(100%) saturate(0%);
    }
  }

  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(ellipse farthest-corner at right bottom, #fedb37 0%, #fdb931 8%, #9f7928 30%, #8a6e2f 40%, transparent 80%),
      radial-gradient(ellipse farthest-corner at left top, #ffffac 0%, #ffffac 0%, #d1b464 10%, #5d4a1f 60.5%, #5d4a1f 100%);
    z-index: 1;
    filter: brightness(0.6);
    opacity: 0.6;
  }

  .and-symbol {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    /* color: #ffbf00; */
    position: absolute;

    background: linear-gradient(20deg, #dd8f00, #ffbf00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .title-and-subtitle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    margin-top: -16px;
  }

  .title {
    font-family: 'Parisienne', cursive;
    color: white;
    font-size: 80px;
    position: relative;

    .name-word {
      margin: -20px 0;
      position: relative;
      z-index: 1;
      text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
    }
  }

  .subtitle {
    margin-top: 40px;
    color: white;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 6px;
    white-space: nowrap;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);

    .gold {
      color: #ffbf00;
      /* font-size: 14px; */
    }

    img {
      width: 24px;
      color: #ffbf00;
      margin-right: 4px;
    }
  }
}
