.screen-landing-page {
  overflow: hidden;
  height: calc(100vh - 80px);
  box-shadow: 1px 4px 4px rgba(132, 132, 132, 0.3);
  position: relative;

  .images-wrapper {
    height: 110vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;

    img {
      width: calc(100vw / 4);
    }
  }

  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsl(53.75deg 50% 7% / 60.2%);
    z-index: 1;
  }

  .title-and-subtitle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    margin-top: -16px;

    .and-symbol {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 86px;
      color: #ffbf00;
      position: absolute;
      font-weight: 800;
    }
  }

  .title {
    font-family: 'Parisienne', cursive;
    color: white;
    font-size: 80px;
    position: relative;

    .name-word {
      margin: -24px 0;
      position: relative;
      z-index: 1;
      text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    }
  }

  .subtitle {
    margin-top: 40px;
    color: white;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 6px;
    white-space: nowrap;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);

    .gold {
      color: #ffbf00;
      /* font-size: 14px; */
    }

    img {
      width: 24px;
      color: #ffbf00;
      margin-right: 4px;
    }
  }
}
