.screen-landing-page {
  overflow: hidden;
  height: calc(100vh - 80px);
  /* box-shadow: 1px 4px 4px rgba(132, 132, 132, 0.3); */
  position: relative;

  .images-wrapper {
    height: 110vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    gap: 4px;

    img {
      width: calc(100vw / 4 - 3px);
      filter: brightness(0.8) saturate(0%);
      transition: all 2s ease-in-out;

      &.nofilter {
        transition: none;
        filter: none;
      }
    }
  }

  .backdrop {
    position: absolute;
    top: -50vh;
    left: -50vh;
    width: 200vh;
    height: 200vh;
    transform-origin: center;

    &.black {
      background: #0004;
      z-index: 1;
    }

    &.colored {
      z-index: 2;
      /* background: radial-gradient(ellipse farthest-corner at left top, #ffd3ac 0%, #ffd3ac 50%),
        radial-gradient(ellipse farthest-corner at right bottom, #ffffff 0%, #f34771 8%, #f34771 25%); */

      background-color: hsla(35, 100%, 74%, 1);
      background-image: radial-gradient(at 40% 20%, hsla(35, 100%, 74%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 50%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 50%, hsla(340, 100%, 76%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 100%, hsla(242, 100%, 70%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1) 0px, transparent 50%);

      opacity: 1;
      animation: fade-to-transparent 3s ease-in-out 0s forwards;
    }
  }

  .and-symbol {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-3deg);
    margin-left: 9px;
    font-size: 110px;
    position: absolute;

    background: linear-gradient(0, hsl(41, 100%, 75%), hsl(41, 100%, 45%), hsl(41, 100%, 75%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    z-index: 5;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.35));
  }

  .title-and-subtitle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    margin-top: -16px;
  }

  .title {
    font-family: 'Parisienne', cursive;
    color: white;
    font-size: 80px;
    position: relative;

    .name-word {
      margin: -26px 0;
      position: relative;
      z-index: 1;
      text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.35);

      &.on-top {
        position: absolute;
        z-index: 6;
        left: 0;
        right: 0;
        margin: auto;
        text-shadow: none !important;

        &.iuliu {
          clip-path: polygon(56% 0, 67% 0, 56% 66%, 50% 73%);
          /* background: red; */
        }
        &.gabriela {
          clip-path: polygon(51% 14%, 78% 16%, 76% 55%, 39% 53%);
        }
      }
    }
  }

  .subtitle {
    margin-top: 40px;
    color: white;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 6px;
    white-space: nowrap;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);

    .gold {
      color: #ffbf00;
      /* font-size: 14px; */
    }

    img {
      width: 24px;
      color: #ffbf00;
      margin-right: 4px;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-to-transparent {
  0% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
