.screen-landing-page {
  overflow: hidden;
  height: calc(115vh - 50px);
  position: relative;

  @media (min-width: 768px) {
    height: 118vh;
  }

  .plane-wrapper {
    position: absolute;
    top: 76vh;
    left: -100px;
    z-index: 10;
    animation: fly 15s linear 8s infinite;
    filter: drop-shadow(-2px 4px 2px rgba(0, 0, 0, 0.4));

    @media (min-width: 768px) {
      animation-duration: 35s;
    }

    .plane {
      width: 35px;
      animation: rotate-wings 4s linear infinite;
    }
  }

  .images-wrapper {
    height: 131vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    gap: 4px;
    background: #696969;

    img {
      width: min(150px, calc(100vw / 4 - 3px));
      filter: brightness(0.45);
      /* transition: filter 1s ease-in; */
      position: relative;

      &.highlighted {
        transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        filter: brightness(0.85);
      }
    }
  }

  .and-symbol {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-3deg);
    margin-left: 9px;
    font-size: 110px;
    position: absolute;
    pointer-events: none;

    background: linear-gradient(0, hsl(41, 100%, 75%), hsl(41, 100%, 45%), hsl(41, 100%, 75%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    z-index: 5;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.35));
    opacity: 0;

    animation: show 1s ease-in-out 2.7s forwards;
  }

  .title-and-subtitle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    margin-top: -60px;
  }

  .title {
    font-family: 'Parisienne', cursive;
    color: white;
    font-size: 80px;
    position: relative;
    /* filter: drop-shadow(0 0 30px rgba(0, 0, 0, 1)); */

    /* dark black circle in the middle */

    .name-word {
      margin: -26px 0;
      position: relative;
      z-index: 1;
      text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.35);
      opacity: 0;
      cursor: pointer;

      &:hover {
        text-shadow: 2px 0px 12px rgba(255, 255, 255, 0.4);
      }

      &.iuliu {
        animation: show 1s ease-in-out 2s forwards;
      }

      &.gabriela {
        animation: show 1s ease-in-out 3s forwards;
      }

      &.on-top {
        position: absolute;
        z-index: 6;
        left: 0;
        right: 0;
        margin: auto;
        text-shadow: none !important;
        pointer-events: none;

        &.iuliu {
          clip-path: polygon(56% 0, 67% 0, 56% 66%, 50% 73%);
          /* background: red; */
        }
        &.gabriela {
          clip-path: polygon(51% 14%, 78% 16%, 76% 55%, 39% 53%);
        }
      }
    }
  }

  .subtitle {
    margin-top: 40px;
    color: white;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 6px;
    white-space: nowrap;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);

    .gold {
      color: #ffbf00;
      /* font-size: 14px; */
    }

    img {
      width: 24px;
      color: #ffbf00;
      margin-right: 4px;
    }
  }

  .bottom-gradient {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100vw;
    height: 50px;
    background: linear-gradient(0, #ffffff, #ffffff00);
    z-index: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-to-transparent {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fly {
  0% {
    transform: translate(0, 0) rotate(-21deg);
  }
  30% {
    transform: translate(140vw, -42vw) rotate(-21deg);
  }
  31% {
    transform: translate(140vw, -42vw) rotate(-130deg);
  }
  40% {
    transform: translate(140vw, -42vw) rotate(-130deg);
  }
  90% {
    transform: translate(20vw, -170vw) rotate(-130deg);
  }
}

@keyframes rotate-wings {
  0% {
    transform: rotateX(0deg);
  }
  30% {
    transform: rotateX(50deg);
  }
  80% {
    transform: rotateX(-45deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 200vh;
  transform-origin: center;
  z-index: 301;
  pointer-events: none;

  &.black {
    background: #000;
    animation: fade-to-transparent 1.5s ease-in-out 0s forwards;
  }
}
