.meet-the-godparents {
  padding: 40px 24px;
  text-align: left;
  font-family: 'Parisienne', cursive;

  .the-godparents {
    background: linear-gradient(0, #ffd780, hsl(41, 100%, 50%), hsl(41, 100%, 75%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 58px;
    margin: 0;
    margin-top: -18px;
    padding-left: 3px;
  }

  .meet {
    font-size: 40px;
    margin-bottom: -20px;
    padding-left: 40px;
    text-align: left;
    color: #c5c5c5;
  }

  .img-wrapper {
    position: relative;
    margin-top: 8px;
    z-index: -1;

    .top-gradient {
      position: absolute;
      top: 0px;
      left: -24px;
      width: 100vw;
      height: 100px;
      background: linear-gradient(0, #fff0, #fff);
      z-index: 1;
    }

    img {
      width: 100vw;
      margin-left: -24px;
    }

    .names {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      color: white;
      width: 100%;

      position: absolute;
      left: 50%;
      bottom: 24px;
      transform: translate(-50%, 0);
      z-index: 2;
      text-align: center;
      padding-left: 34px;

      &.on-top {
        /* background: red; */
        clip-path: polygon(50% 52%, 50% 64%, 60% 60%);

        .and-symbol {
          opacity: 0;
        }
      }

      .family-name {
        color: #fff;
        margin: 0;
        font-size: 40px;
        margin-bottom: -42px;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
        font-weight: 500;
      }

      .first-names {
        margin: 0;
        font-size: 50px;
        white-space: nowrap;
        font-weight: 600;
      }

      .and-symbol {
        background: linear-gradient(0, hsl(41, 100%, 75%), hsl(41, 100%, 45%), hsl(41, 100%, 75%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 86px;
        margin: 0 -20px;
        display: inline-block;
        font-weight: 400;
        transform: translateY(4px) rotate(-8deg);
      }

      .first-name {
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
        position: relative;

        letter-spacing: -3px;

        @media (min-width: 768px) {
          letter-spacing: 0px;
        }
      }
    }
  }
}
