.meet-the-godparents {
  margin-top: 100px;

  font-family: 'Parisienne', cursive;
  display: flex;
  justify-content: center;
  align-items: center;

  .content-wrapper {
    width: min(768px, 100vw);
  }

  .meet {
    font-size: 40px;
    margin-bottom: -16px;
    color: #c3cfc3;
  }

  .the-godparents {
    background: linear-gradient(0, hsl(73, 100%, 42%), hsl(73, 100%, 30%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 58px;
    margin: 0;
    padding-left: 16px;
  }

  .img-wrapper {
    position: relative;
    z-index: -1;
    font-size: 0;

    @media (min-width: 768px) {
      border-bottom-right-radius: 16px;
      border-bottom-left-radius: 16px;
      margin-top: 24px;
      overflow: hidden;
    }

    .top-gradient {
      position: absolute;
      top: 0px;
      left: 0;
      width: 100vw;
      height: 100px;
      background: linear-gradient(0, #fff0, #fff);
      z-index: 1;
    }

    .bottom-gradient {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100px;
      background: linear-gradient(0, #000a, #0b00);
      z-index: 1;
    }

    img {
      width: 100%;

      &.only-desktop {
        display: none;
      }

      @media (min-width: 768px) {
        &.only-mobile {
          display: none;
        }

        &.only-desktop {
          display: block;
        }
      }
    }

    .names {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      color: white;
      width: 100%;

      position: absolute;
      left: 50%;
      bottom: 8px;
      transform: translate(-50%, 0);
      z-index: 2;
      text-align: center;

      &.on-top {
        /* background: red; */
        clip-path: polygon(45% 52%, 45% 64%, 60% 60%);

        .and-symbol {
          opacity: 0;
        }
      }

      .family-name {
        color: #fff;
        margin: 0;
        font-size: 44px;
        margin-bottom: -42px;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
        font-weight: 500;
      }

      .first-names {
        margin: 0;
        font-size: 54px;
        white-space: nowrap;
        /* font-weight: 600; */
      }

      .and-symbol {
        background: linear-gradient(0, hsl(73, 100%, 42%), hsl(73, 100%, 30%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 86px;
        margin: 0 -22px;
        display: inline-block;
        font-weight: 400;
        transform: translateY(4px) rotate(-10deg);
        /* opacity: 0; */
      }

      .first-name {
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
        position: relative;

        /* letter-spacing: -3px; */

        /* @media (min-width: 768px) {
          letter-spacing: 0px;
        } */
      }
    }
  }

  @media (max-width: 768px) {
    text-align: left;
    margin-top: 40px;

    .content-wrapper {
      align-items: flex-start;
      justify-content: flex-start;
    }

    .meet {
      text-align: left;
      padding-left: 40px;
    }

    .the-bridegroom {
      padding-left: 16px;
    }

    .img-wrapper {
      margin-top: 0;
    }
  }
}
