.countdown-timer {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  padding: 24px 0;
  position: relative;
  overflow: hidden;
  /* font-family: 'Josefin Sans'; */
}

.square {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
  width: 75px;
  height: 100px;
  position: relative;
  overflow: hidden;

  .top-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 24px;
    background: linear-gradient(0, #fff0, #fff);
    z-index: 1;
  }

  .bottom-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    height: 55px;
    background: linear-gradient(0, #fff, #fff, #fff, #fff0);
  }
}

.flip-container {
  position: relative;
  height: 60px;
  width: 100%;
}

.value {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: 'Nunito', sans-serif;

  background: linear-gradient(0, hsl(41, 100%, 45%), hsl(41, 100%, 62%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Default positions */
.prev {
  transform: translateY(0%);
}

.next {
  transform: translateY(100%);
}

/* Animations */
.prev {
  animation: slideUpPrev 0.9s forwards;
}

.next {
  animation: slideUpNext 0.9s forwards;
}

@keyframes slideUpPrev {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes slideUpNext {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.label {
  margin-top: -2px;
  font-size: 26px;
  position: relative;
  z-index: 5;
  font-family: 'Parisienne';
}
