.countdown-timer {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  margin-top: 32px;
  overflow: hidden;

  background: linear-gradient(0, #0002, #000, #0002);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  .square {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    width: 100px;
    width: 75px;
    height: 50px;

    .value {
      font-weight: 700;
      font-size: 40px;
    }

    .label {
      margin-left: 3px;
      margin-right: -3px;
    }
  }
}
