.screen-two {
  width: calc(100vw - 16px * 2);
  box-shadow: 0px 0px 8px #0003;
  border-radius: 16px;

  position: relative;
  z-index: 50;
  padding-bottom: 14px;
  padding-top: 12px;
  background: white;
  margin: -24px 16px;
  margin-top: -120px;
  overflow: hidden;
  height: 240px;

  background: url('../../../public/images/flower-bg.jpg') 100% 100%;

  /* background of full width image */
  background-size: cover;

  img {
    width: 100vw;
    margin-left: -24px;
    filter: brightness(60%) hue-rotate(28deg);
  }

  h1 {
    font-family: 'Parisienne', cursive;
    background: linear-gradient(0, #ffd780, hsl(41, 100%, 50%), hsl(41, 100%, 75%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    margin: 0;
  }

  h2 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 4px;
    margin-top: 20px;
    margin-bottom: 0;
    color: #fff;
    text-shadow: 0px 0px 4px hsla(42, 100%, 37%, 0.25);
  }
}
