.summary {
  padding: 8px;
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  justify-content: center;

  .countdown-timer {
    display: flex;
    justify-content: center;
    /* box-shadow: 0px 0px 8px #0002; */
    width: 100vw;
    margin-left: -8px;
    margin-bottom: 80px;
    overflow: hidden;

    background: linear-gradient(0, #0002, #000, #0002);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    .square {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px;
      width: 100px;
      /* border-right: 1px solid gray; */
      width: 75px;
      height: 50px;
      /* border-radius: 8px; */

      .value {
        font-weight: 700;
        font-size: 40px;
        /* font-family: 'Parisienne'; */
      }

      .label {
        margin-left: 3px;
        margin-right: -3px;
      }
    }
  }

  .card {
    width: min(600px, calc(100vw - 16px));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 320px;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    color: white;
    font-size: 24px;
    padding: 16px;
    font-weight: 500;
    justify-content: space-between;
    box-shadow: 0px 0px 8px #0003;
    border-radius: 32px;
    z-index: 10;
    background: black;
    /* background: radial-gradient(ellipse farthest-corner at right bottom, #fedb37 0%, #fdb931 8%, #9f7928 30%, #8a6e2f 40%, transparent 80%),
      radial-gradient(ellipse farthest-corner at left top, #ffffff 0%, #ffffac 8%, #d1b464 25%, #5d4a1f 62.5%, #5d4a1f 100%); */

    video {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      border-radius: 40px;
      z-index: -1;
      overflow: hidden;
      /* clip-path: polygon(100% 0, 86% 86%, 44% 64%, 0 40%, 0 0); */

      /* filter: brightness(1.5); */
      mix-blend-mode: screen;
    }

    .bg-image {
      position: absolute;
      left: -2%;
      top: -5%;
      width: 102%;
      height: 106%;
      object-fit: cover;
      filter: blur(0px) brightness(0.55);
      z-index: -2;
      opacity: 1;
    }

    .section {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* border: 1px solid red; */

      &.button-section {
        justify-content: flex-end;

        .add-to-calendar::part(atcb-button) {
          border: none;
          color: #fff;
          background: transparent;
          font-family: 'Josefin Sans', sans-serif;
          cursor: pointer;
          border-bottom: 1px solid #fffa;
          /* padding: 0 4px; */
          font-size: 20px;
          font-weight: 400;
          padding: 0;
          transform: translateY(2px);
        }
      }

      &.button-section:hover {
        .add-to-calendar::part(atcb-button) {
          border-bottom: 1px solid #fff;
        }
      }
    }

    .title {
      font-family: 'Parisienne', cursive;
      font-weight: 400;
      font-size: 40px;
      text-align: center;
      position: relative;
      z-index: 2;
    }

    .wedding {
      font-family: 'Parisienne', cursive;
      font-size: 54px;
      background: linear-gradient(0, hsl(41, 100%, 45%), hsl(41, 100%, 70%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      margin-top: -20px;
      margin-left: -15px;
    }

    .date {
      font-weight: 600;
      font-size: 42px;

      /* font-weight: 600; */
      /* font-family: 'Raleway'; */

      /* letter-spacing: 3px; */
    }

    .location {
      font-size: 25px;
      font-weight: 350;
      /* margin-top: -2px; */
      /* font-family: 'Old Standard TT'; */

      /* letter-spacing: 1.8px; */
    }
  }
}
