.summary {
  padding: 16px;
  padding-bottom: 100px;
  text-align: left;

  .countdown-timer {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    margin-bottom: -40px;
    box-shadow: 0px 0px 8px #0003;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    overflow: hidden;

    .square {
      /* box-shadow: 0px 0px 8px #0003; */
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px;
      width: 100px;
      box-shadow: 4px -6px 8px #0001;
      flex: 1;

      .value {
        font-weight: 700;
        font-size: 18px;
      }

      .label {
        margin-left: 3px;
        margin-right: -3px;
      }
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 320px;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    color: white;
    font-size: 24px;
    padding: 24px;
    font-weight: 500;
    justify-content: space-between;
    box-shadow: 0px 0px 8px #0003;
    border-radius: 32px;
    z-index: 10;

    .bg-image {
      position: absolute;
      left: 0;
      top: 0;
      width: calc(100vw - 16px);
      height: 100%;
      object-fit: cover;
      filter: blur(1px) brightness(0.6);
      z-index: -1;
    }

    .section {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* border: 1px solid red; */

      &.button-section {
        justify-content: flex-end;

        .add-to-calendar-button {
          cursor: pointer;
          border-bottom: 1px solid #fffa;
          /* padding: 0 4px; */
          font-size: 20px;

          &:hover {
            border-bottom-color: #fff;
          }
        }
      }
    }

    .title {
      font-family: 'Parisienne', cursive;
      font-weight: 400;
      font-size: 40px;
      text-align: center;
      position: relative;
      z-index: 2;
    }

    .wedding {
      font-family: 'Parisienne', cursive;
      font-size: 65px;
      color: hsl(41, 100%, 75%);
      margin-top: -33px;
      margin-left: -15px;
    }

    .date {
      font-size: 40px;
      font-weight: 500;
      letter-spacing: 3px;
    }

    .location {
      font-size: 22px;
      font-weight: 400;
      margin-top: -2px;
      letter-spacing: 1.8px;
    }
  }
}
