.event-location {
  height: 500px;
  width: 100vw;
  position: relative;
  z-index: 19;

  .map-container {
    position: relative;

    .address-container {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      padding: 8px;
      background: #fff;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
      font-weight: 500;
      font-size: 14px;
    }

    .client-marker-wrapper {
      .location-dot {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 10px;
        height: 10px;
        background: #b57d42;
        border-radius: 50%;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        transform: translate(-50%, -50%);
        border: 1px solid white;
      }

      .client-marker {
        background: #fff;
        border-radius: 10px;
        box-shadow: 4px 0px 8px #0004;
        overflow: hidden;
        display: flex;
        align-items: center;
        height: 46px;
        border-bottom: 3px solid #b57d42;
        font-family: 'Montserrat', sans-serif;
        position: relative;

        img {
          height: 100%;
        }

        .elitis-info {
          height: 100%;
          padding-left: 8px;
          padding-top: 12px;
          padding-right: 12px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .name {
            font-size: 14px;
            font-weight: 600;
          }

          .address {
            font-size: 13px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
