.event-location {
  height: 350px;
  z-index: 19;
  display: flex;
  justify-content: center;

  .map-container {
    position: relative;
    overflow: hidden;
    width: min(768px, calc(100vw - 16px));
    border-radius: 16px;
    box-shadow: 0px 0px 8px #0003;

    .gm-style iframe + div {
      border: none !important;
    }

    .gm-style {
      height: 120%;
      border: 1px solid red;
    }

    .client-marker-wrapper {
      position: relative;
      margin-top: -2px;
      margin-left: -2px;

      .location-dot {
        position: absolute;
        top: 1px;
        left: 1px;
        z-index: 2;
        width: 12px;
        height: 12px;
        background: hsl(19, 28%, 64%);
        border-radius: 50%;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        transform: translate(-50%, -50%);
        border: 1px solid white;
      }

      .client-marker {
        background: #fff;
        border-radius: 16px;
        box-shadow: 1px 1px 8px #0005;
        overflow: hidden;
        display: flex;
        align-items: center;
        height: 46px;
        border-bottom: 0px solid #d3ced4;
        font-family: 'Montserrat', sans-serif;
        position: relative;

        img {
          height: 100%;
        }

        .elitis-info {
          height: 100%;
          padding-left: 8px;
          padding-top: 12px;
          padding-right: 12px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .name {
            font-size: 14px;
            font-weight: 600;
          }

          .address {
            font-size: 13px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
