.and-the-parents {
  padding: 16px;
  /* padding-bottom: 100px; */
  text-align: left;

  .and-our-beloved {
    font-size: 42px;
    margin-bottom: -20px;
    /* padding-left: 20px; */
    text-align: left;
    color: #c7c5c3;
    font-family: 'Parisienne', cursive;
  }

  .parents {
    background: linear-gradient(0, hsl(36 98% 55%), hsl(36 98% 45%));
    /* background: linear-gradient(0, #ffd780, hsl(41, 100%, 60%), hsl(41, 100%, 75%)); */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 76px;
    margin: 0;
    font-family: 'Parisienne', cursive;
    margin-bottom: -22px;
  }

  img {
    width: 270px;
    transform: translateX(120px);
    margin-bottom: 16px;
    margin-top: -24px;
    filter: hue-rotate(-5deg) brightness(0.97) saturate(1.3);

    &.small {
      transform: scaleX(-1) translateX(200px);
      margin-bottom: -60px;
      margin-top: 24px;
    }
  }

  .names {
    color: #c7c5c3;
    text-align: center;
    overflow: hidden;
    margin: 0 -16px;
    margin-top: 48px;

    .family-name-wrapper {
      margin-top: -12px;
      position: relative;

      .family-name {
        font-family: 'Parisienne', cursive;
        /* background: linear-gradient(0, #ffd780, hsl(41, 100%, 70%), hsl(41, 100%, 60%), hsl(41, 100%, 75%)); */
        background: linear-gradient(0, hsl(36 98% 49%), hsl(36 98% 45%));
        /* background: linear-gradient(0, hsl(86, 51%, 61%), hsl(86, 51%, 42%), hsl(86, 51%, 61%)); */
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0;
        font-size: 68px;
        /* text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25); */
        font-weight: 500;
      }

      .comma {
        color: #e98d04;
        font-size: 24px;
        display: block;
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        /* width: 4px; */
        bottom: 22px;
        transform: translate(-20px, 6px) rotate(19deg);
        z-index: 10;
      }
    }

    .first-names {
      font-family: 'Josefin Sans', sans-serif;
      margin: 0;
      font-size: 40px;
      white-space: nowrap;
      /* font-weight: 600; */
      display: flex;
      flex-direction: column;
      font-weight: 400;

      .first-name {
        /* text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05); */
        position: relative;
      }

      .and-symbol {
        font-family: 'Parisienne', cursive;
        /* background: linear-gradient(0, hsl(86, 51%, 61%), hsl(86, 51%, 46%), hsl(86, 51%, 61%)); */
        /* background: linear-gradient(0, hsl(33 98% 49% / 1), hsl(33 98% 40% / 1), hsl(33 98% 49% / 1)); */
        /* background: linear-gradient(0, #ffd780, hsl(41, 100%, 60%), hsl(41, 100%, 75%)); */
        /* background: linear-gradient(0, #ffd780, hsl(41, 100%, 75%), hsl(41, 100%, 65%), hsl(41, 100%, 75%)); */
        background: linear-gradient(0, hsl(36 98% 55%), hsl(36 98% 40%));

        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 50px;
        margin: -32px;
        display: inline-block;
        font-weight: 500;
        position: relative;
        z-index: 1;
        transform: translateY(0px) rotate(-8deg);
        /* text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1); */
      }
    }
  }
}
