.hearts-navigation {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: fixed;
  top: calc(88dvh - 85px);
  right: 10px;
  z-index: 51;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.25));

  .heart {
    line-height: 0.7em;
    color: white;
    /* opacity: 0.6; */

    &.selected {
      opacity: 1;
      color: hsl(39, 100%, 60%);
      filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.05));
    }

    svg {
      width: 14px;
      height: 14px;
    }
  }
}

.hearts-gradient {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 240px;
  height: 350px;
  background: linear-gradient(-77deg, #0003, #0000, #0000, #0000);
  z-index: 50;
  pointer-events: none;
}
