.hearts-navigation {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: fixed;
  bottom: 14px;
  right: 10px;
  z-index: 10;

  .heart {
    line-height: 0.7em;
    height: 14px;
    width: 16px;
    overflow: hidden;
    filter: saturate(1.5);

    &.selected {
      img {
        transform: translateY(-14px);
        opacity: 1;
      }
    }

    img {
      width: 100%;
      opacity: 0.6;
    }
  }
}

.hearts-gradient {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 70px;
  height: 230px;
  background: linear-gradient(-80deg, #0002, #0000, #ffbf0000);
  z-index: 9;
}
