.were-getting-married {
  padding-top: 200px;
  padding-bottom: 200px;
  font-family: 'Parisienne', cursive;
  position: relative;
  z-index: 100;

  .animation-wrapper {
    position: absolute;
    top: -60px;
    left: 0;
    width: calc(100vw);
    overflow: hidden;

    .fireworks {
      width: 140%;
      margin-left: -20%;
    }
  }

  h2 {
    color: #64810e;
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
    text-align: right;
    padding-right: 32px;
  }

  h1 {
    background: linear-gradient(0, hsl(33, 77%, 64%), hsl(41, 100%, 70%), hsl(33, 77%, 64%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;

    letter-spacing: -5px;
    font-size: 100px;
    padding-right: 12px;
    margin-top: -16px;
  }
}
