.meet-the-bridegroom {
  margin-top: 70px;
  text-align: left;
  font-family: 'Parisienne', cursive;
  display: flex;
  justify-content: center;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }

  .meet {
    font-size: 40px;
    margin-bottom: -20px;
    padding-left: 32px;
    text-align: left;
    color: #c3cfc3;
  }

  .the-bridegroom {
    background: linear-gradient(0, hsl(30, 100%, 75%), hsl(22, 100%, 60%), hsl(30, 100%, 75%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 58px;
    margin: 0;
    padding-left: 16px;
    white-space: nowrap;

    @media (min-width: 768px) {
      font-size: 72px;
    }
  }

  .img-wrapper {
    position: relative;
    font-size: 0;
    width: 100vw;
    margin-top: 24px;

    .top-gradient {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100px;
      background: linear-gradient(0, #fff0, #fff);
      z-index: 1;

      @media (min-width: 768px) {
        display: none;
      }
    }

    .bottom-gradient {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100px;
      background: linear-gradient(0, #000a, #0b00);
      z-index: 1;
    }

    img {
      width: min(768px, 100vw);
      max-height: 80vh;
      object-fit: contain;
      -webkit-user-drag: none;
      opacity: 0.6;
      transition: all 0.3s ease-in-out;
    }

    .names {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      color: white;
      width: 100%;

      position: absolute;
      left: 50%;
      bottom: 8px;
      transform: translate(-50%, 0);
      z-index: 2;
      text-align: center;

      &.on-top {
        /* background: red; */
        clip-path: polygon(45% 52%, 45% 64%, 60% 60%);

        .and-symbol {
          opacity: 0;
        }
      }

      .family-name {
        color: #fff;
        margin: 0;
        font-size: 44px;
        margin-bottom: -42px;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
        font-weight: 500;
      }

      .first-names {
        margin: 0;
        font-size: 54px;
        white-space: nowrap;
        /* font-weight: 600; */
      }

      .and-symbol {
        background: linear-gradient(0, hsl(41, 100%, 75%), hsl(41, 100%, 45%), hsl(41, 100%, 75%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 86px;
        margin: 0 -22px;
        display: inline-block;
        font-weight: 400;
        transform: translateY(4px) rotate(-10deg);
        /* opacity: 0; */
      }

      .first-name {
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
        position: relative;

        /* letter-spacing: -3px; */

        /* @media (min-width: 768px) {
          letter-spacing: 0px;
        } */
      }
    }
  }
}
