.card-wrapper {
  position: relative;
  margin-top: -120px;

  .face {
    width: calc(100vw - 16px * 2);
    box-shadow: 0px 0px 8px #0003;
    border-radius: 16px;
    z-index: 101;
    margin: 0 16px;
    background: url('../../../public/images/flower-bg-new.jpg') 100% 100%;
    background-size: cover;
    overflow: hidden;
    position: relative;
    height: 240px;
    transition: transform 0.6s;
    backface-visibility: hidden;
    padding-top: 14px;
    padding-bottom: 12px;

    &.were-getting-married {
      position: absolute;
      top: 0;
      left: 0;

      transform: rotateX(180deg);

      &.flipped {
        transform: rotateX(0deg);
      }

      .were-getting-married-screen {
        font-family: 'Parisienne', cursive;
        position: relative;
        z-index: 100;
        padding-top: 32px;

        h2 {
          color: #64810e;
          font-size: 40px;
          margin: 0;
          letter-spacing: -2px;
          /* text-align: right; */
          /* padding-right: 24px; */
        }
      }
    }

    &.save-the-date {
      &.flipped {
        transform: rotateX(180deg);
      }

      img {
        width: 100vw;
        margin-left: -24px;
        filter: brightness(60%) hue-rotate(28deg);
      }

      .video-wrapper {
        position: absolute;
        left: 0.5%;
        top: 76%;
        width: calc((100vw - 16px * 2) / 4.13);
        z-index: 5;
        transform: rotate(-8deg);
        overflow: hidden;
        clip-path: polygon(100% 0, 86% 86%, 44% 64%, 0 40%, 0 0);

        filter: brightness(1.25) saturate(0.64);
        mix-blend-mode: darken;

        video {
          width: calc((100vw - 16px * 2) / 2.4);
        }
      }

      h1 {
        font-family: 'Parisienne', cursive;
        background: linear-gradient(0, #ffd780, hsl(41, 100%, 50%), hsl(41, 100%, 75%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 50px;
        margin: 0;
      }

      h2 {
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 2px;
        margin-top: 20px;
        margin-bottom: 0;
        color: #fff;
        text-shadow: 0px 0px 4px hsla(42, 100%, 37%, 0.25);
      }

      h4 {
        font-weight: 500;
        color: #64810e;
      }
    }
  }

  h1.married {
    color: #fff;
    text-shadow: 0px 2px 12px hsl(33, 57%, 70%);
    font-family: 'Montserrat', sans-serif;
    /* background: linear-gradient(0, hsl(33, 77%, 64%), hsl(41, 100%, 70%), hsl(33, 77%, 64%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    margin: 0;
    letter-spacing: -1px;
    font-size: 67px;
    margin-top: 8px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 111px;
    z-index: 300;
  }

  .animation-wrapper {
    position: absolute;
    top: -50vw;
    left: 0;
    overflow: hidden;
    width: 100vw;
    z-index: 150;
    height: 600px;

    .fireworks {
      width: 140vw;
      margin-left: -20vw;
    }
  }
}

@keyframes move-to-left {
  0% {
    margin-left: 0%;
  }
  40% {
    margin-left: 0%;
  }
  55% {
    margin-left: 40px;
  }
  100% {
    margin-left: 40px;
  }
}
