.App {
  text-align: center;
  width: 100vw;
}

.next-pages {
  /* background: linear-gradient(180deg, #ffd3ac, hsl(28, 100%, 74%)); */

  background: linear-gradient(180deg,rgba(255,211,172,1) 0%, rgba(255,186,172,1) 35%, rgba(255,211,172,1) 100%);

  
}
