.App {
  text-align: center;
  width: 100vw;
}

.next-pages {
  /* background: linear-gradient(180deg, #ffd3ac, hsl(28, 100%, 74%)); */

  /* background: linear-gradient(180deg, rgba(255, 211, 172, 0.2) 0%, rgba(205, 186, 172, 0.2) 35%, rgba(255, 211, 172, 0.2) 100%); */
  background: hsl(41, 100%, 92%);
}
