body {
  margin: 0;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* <link rel="preconnect" href="https://fonts.googleapis.com" /> */
  /* font-family: "Varela Round", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  color: #444240;
  text-align: center;
  background: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.collapsed-screens {
  transition: opacity 1s ease-in-out;

  &.collapsed {
    opacity: 0;
    height: 200px;
    overflow: hidden;
  }
}
